= render 'shared/header'

.user-content
  .user-content__left
    = image_tag "boy.jpg" , class: "user-content__left--image"
    = image_tag "boy2.png" , class: "user-content__left--image"

    .user-content__left--name
      = "name : #{@user.name}"
    %br
    .user-content__left--email
      = "email : #{@user.email}"
    %br
    .user-content__left--physical
      - @user_data.each do |data|
        = "Latest date : #{data.record_day}"
        %br
        = "height : #{data.height} cm"
        %br
        = "weight : #{data.weight} kg"
        %br
        = "BMI :  #{(data.weight.to_i*10000.quo(data.height.to_i**2)).round(1).to_f}"
  .user-content__right
    .user-content__right--physical
      physical-gragh
    .user-content__right--gragh
      %canvas#myLine2Chart

.footer
  .button__icon
    = link_to root_path, class: "button__icon--link" do
      top
    .up-menu
      .button__icon--link
        edit
        %ul.parent
          = link_to edit_user_registration_path do
            %li.child
              edit user
          = link_to edit_data_path do
            %li.child
              edit gragh
    = link_to datas_path, class: "button__icon--link" do
      analysis page
