= render 'shared/header'

.user-content
  .user-content__left
    = image_tag "boy.jpg" , class: "user-content__left--image", id: "opacity-content"
    .user-content__left--name#hidden-content
      = "name : #{@user.name}"
    %br
    .user-content__left--email#hidden-content
      = "email : #{@user.email}"
    %br
    - unless @user_data.blank?
      .user-content__left--physical#hidden-content
        - @user_data.each do |data|
          = "Latest date : #{data.record_day}"
          %br
          = "height : #{data.height} cm"
          %br
          = "weight : #{data.weight} kg"
          %br
          = "BMI :  #{(data.weight.to_i*10000.quo(data.height.to_i**2)).round(1).to_f}"

  .user-content__right
    .user-content__right--title
      Mypage
    .user-content__right--physical#hidden-content
      physical-gragh
    .user-content__right--gragh#opacity-content
      %canvas#myLine2Chart
    - if @user_data.blank?
      .user-content__right--nodata
        .i.fas.fa-exclamation-circle
        Sorry, no data
        %br
        &nbsp;&nbsp; Please, new record


.data-analysis#fadein-content
  - @user_data.each do |data|
    = "最新データ日 : #{data.record_day}"
    %br
    = "weight : #{data.weight} [kg]"
    %br
    - standard_weight =(data.height.to_i)**2 * 22/10000
    - difference_weight = data.weight.to_i - standard_weight
    = "#{data.height}[cm]の場合の標準体重 : #{standard_weight} [kg]"
    %br
    = "標準体重との差 :  #{difference_weight} [kg]"
    %br
    = "目標までの消費カロリー : #{(difference_weight*7200).to_s(:delimited)} [kcal]"
  / .calc-analysis#fadein-content
  /   %input#calc-weight
  /   %input#calc-day

  /   %br
  /   1日当たりの必要消費カロリーは

= render 'shared/footer'
