= render 'shared/header'

.user-content
  .user-content__left
    = image_tag "boy.jpg" , class: "user-content__left--image"
    .user-content__left--name
      = "name : #{@user.name}"
    %br
    .user-content__left--email
      = "email : #{@user.email}"
    %br
    .user-content__left--physical
      < now >
      %br
      height : 190 cm
      %br
      weight : 200 kg

  .user-content__right
    .user-content__right--physical
      physical-gragh
      = image_tag "sample-gragh.png", class: "user-content__right--image"
.footer
  Copyright © yuta All Rights Reserved.
  .i.fab.fa-github.fa-3x
