.header
  .header__left
    .down-menu
      .i.fas.fa-bars
        %ul.child
          %li.child-hidden
          %li.child
            how to page
          / = link_to sample_datas_path do
          /   %li.child
          /     how to page
  = link_to root_path, class: "header__center" do
    .i.fas.fa-bed
    .header__center--logo
      .i.fas.fa-chart-line
    .i.fas.fa-running
  .header__right
    .down-menu
      .i.fas.fa-user-circle
        %ul.child
          %li.child-hidden
          - if user_signed_in?
            = link_to new_data_path do
              %li.child
                .i.fas.fa-plus
                new record
            = link_to user_path(current_user.id) do
              %li.child
                .i.fas.fa-user-check
                user-mypage
            = link_to destroy_user_session_path, method: :delete do
              %li.child
                .i.fas.fa-sign-out-alt
                Log_out
          - else
            = link_to new_user_registration_path do
              %li.child
                .i.fas.fa-user-plus
                Sign_up
            = link_to new_user_session_path do
              %li.child
                .i.fas.fa-sign-in-alt
                Log_in
            / = link_to root_path do
            /   %li.child
            /     user-menu
