.header
  .header__left
    .down-menu
      .i.fas.fa-bars
        %ul.child
          %li.child-hidden
          = link_to sample_datas_path do
            %li.child
              how to page
          = link_to root_path do
            %li.child
              menu2
          = link_to root_path do
            %li.child
              menu3
          = link_to root_path do
            %li.child
              menu4
  = link_to root_path, class: "header__center" do
    .i.fas.fa-bed
    / .i.fas.fa-arrow-down
    .header__center--logo
      .i.fas.fa-chart-line
    / .i.fas.fa-arrow-up
    .i.fas.fa-running
  .header__right
    .down-menu
      .i.fas.fa-user-circle


        %ul.child
          %li.child-hidden
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete do
              %li.child
                Log_out
            = link_to user_path(current_user.id) do
              %li.child
                user-mypage
            = link_to root_path do
              %li.child
                record
            = link_to root_path do
              %li.child
                user-menu

          - else
            = link_to new_user_registration_path do
              %li.child
                Sign_up
            = link_to new_user_session_path do
              %li.child
                Log_in
            = link_to root_path do
              %li.child
                user-menu
