.header
  .header__left
    .down-menu
      .i.fas.fa-bars
        %ul.child
          %li.child-hidden
          = link_to sample_datas_path do
            %li.child
              how to page
          = link_to root_path do
            %li.child
              menu2
          = link_to root_path do
            %li.child
              menu3
          = link_to root_path do
            %li.child
              menu4
  = link_to root_path, class: "header__center" do
    .i.fas.fa-bed
    / .i.fas.fa-arrow-down
    .header__center--logo
      .i.fas.fa-chart-line
    / .i.fas.fa-arrow-up
    .i.fas.fa-running
  .header__right
    .down-menu
      .i.fas.fa-user-circle
        %ul.child
          %li.child-hidden
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete do
              %li.child
                Log_out
            = link_to root_path do
              %li.child
                user-menu
          - else
            = link_to new_user_registration_path do
              %li.child
                Sign_up
            = link_to new_user_session_path do
              %li.child
                Log_in
            = link_to root_path do
              %li.child
                user-menu

.main-content
  .main-content__about--up
    %li
      = image_tag "never.jpg"
    %li
      = image_tag "run-men.jpg"
    %li
      = image_tag "run-women.jpg"
    %li
      = image_tag "working.jpg"

.main-content
  .main-content__sample
    .main-content__sample--title
      Let's Record
    .main-content__sample--do
      .main-content__sample--left
        .i.fas.fa-bed.fa-4x &nbsp;
        %br
        Sleep
        %br
        state
      .main-content__sample--center
        .i.fas.fa-arrow-right.fa-1x &nbsp;
        = image_tag "sample-gragh.png"
        &nbsp;
        .i.fas.fa-arrow-left.fa-1x
      .main-content__sample--right
        .i.fas.fa-running.fa-4x
        %br
        Physical condition

.main-content
  .main-content__about--down
    .fadein
      = image_tag "sleep-cat.jpg"
      = image_tag "sleep-dog.jpg"

.footer
  Copyright © yuta All Rights Reserved.
  .i.fab.fa-github.fa-3x
