= render 'shared/header'

.main-content
  .main-content__about--up
    %li
      = image_tag "never.jpg"
    %li
      = image_tag "run-men.jpg"
    %li
      = image_tag "run-women.jpg"
    %li
      = image_tag "working.jpg"

.main-content
  .main-content__sample
    .main-content__sample--title
      Let's Record
    .main-content__sample--do
      .main-content__sample--left
        .i.fas.fa-bed.fa-4x &nbsp;
        %br
        Sleep
        %br
        state
      .main-content__sample--center
        .i.fas.fa-arrow-right.fa-1x &nbsp;
        = image_tag "sample-gragh.png"
        &nbsp;
        .i.fas.fa-arrow-left.fa-1x
      .main-content__sample--right
        .i.fas.fa-running.fa-4x
        %br
        Physical condition

.main-content
  .main-content__about--down
    .fadein
      = image_tag "sleep-cat.jpg"
      = image_tag "sleep-dog.jpg"

.footer
  Copyright © yuta All Rights Reserved.
  .i.fab.fa-github.fa-3x
