= render 'shared/header'

.user-content
  .user-content__left
    %table#physical
      %tr
        %th record_day
        %th weight [kg]
        %th height [cm]
        %th edit
        .table__list
          - @data.each do |data|
            %tr
              %td
                = data.record_day
              %td
                = data.weight
              %td
                = data.height
              %td
                = submit_tag "edit"

  .user-content__right
    .user-content__right--title
      Mypage
    .user-content__right--physical#hidden-content
      physical-gragh
    .user-content__right--gragh#opacity-content
      %canvas#myLine2Chart

.footer
  .button__icon
    = link_to root_path, class: "button__icon--link" do
      top
    = link_to user_path(current_user.id), class: "button__icon--link" do
      Back
