= render 'shared/header'

.user-content
  .user-content__left
    %table#physical
      %tr
        %th record_day
        %th weight [kg]
        %th height [cm]
        / %th edit
        %th delete
        .table__list
          - @data.each do |data|
            %tr
              %td
                = data.record_day
              %td
                = data.weight
              %td
                = data.height
              / %td
              /   = link_to "select", edit_data_path(data), class: "select-button", id: "edit-button", remote: true
              %td
                = link_to "select", data_path(data), class: "select-button", id: "delete-button", method: :delete, remote: true

  .user-content__right
    .user-content__right--title
      Edit physical
    .user-content__right--physical#hidden-content
      physical-gragh
    .user-content__right--gragh#opacity-content
      %canvas#myLine2Chart

= render 'shared/footer'
